  {%load static%}
  
    <div class="sidebar">
        <div class="logo"></div>
    
        <ul class="menu">
        <li class="active">
    <a href="{% url 'dashboard:index' %}" >
        <i class="fas fa-tachometer-alt"></i>
        <span>Dashboard</span>
    
    </a>
    
        </li>

        <li>
            <a href="{%url 'school:index' %}">
                <i class="fas fa-user"></i>
                <span>Schools</span>
            
            </a>
            
        </li>
        <li>
        <a href="{%url 'app:index' %}">
            <i class="fas fa-user"></i>
            <span>App setting</span>
        
        </a>
        </li> 
    
    
      <li>
            <a href="{%url 'students:index' %}">
                <i class="fas fa-user"></i>
                <span>Students</span>
            
    </a>
            
    </li> 


       <li>
        <a href="{%url 'absence:index' %}">
            <i class="fas fa-user"></i>
            <span>absence students</span>
        
</a>
        
</li> 

<li>
    <a href="{%url 'cards:index' %}">
        <i class="fas fa-user"></i>
        <span>students cards</span>
    
</a>
    
</li> 
<li>

    <a href="{%url 'teachers:index' %}">
        <i class="fas fa-user"></i>
        <span>Teachers</span>
    
</a>
    
</li> 
    
    
       <li>
            <a href="{%url 'users:index' %}">
            <i class="fas fa-briefcase"></i>
            <span>Users</span>
                            
            </a>
                            
    </li>
        <li>
             <a href="{%url 'reports:report' %}">
            <i class="fas fa-question-circle"></i>
             <span>Report</span>
                                    
            </a>
                                    
    </li>
            
    
    <li>
        <a href="{%url 'dashboard:connect' %}"> 
        <i class="fas fa-sign-out-alt"></i>  </a>
        <span>Deconnect</span> 
        
                                                        
    </li>                        
                                                
        </ul>
       </div> 
    
       <div class="main--content">
        <div class="header--wrapper">
        
       <div class="user--info">
        <div class="search--box">
        </div>
    
    
    </div>
        </div>